.TopBar {
  width: 100%;
  height: 100px;
  background-color: var(--deep-space-blue-dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  margin: 0 auto;
  position: relative;
}

.topbar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 10;
}

.menu {
  justify-self: start;
  background: transparent;
  border: transparent;
  font-size: 40px;
  cursor: pointer;
  color: #E3E3E3;
}

.logo {
  font-size: 48px;
  font-weight: 400px;
  letter-spacing: 2px;
  margin: 0;
  color: #E3E3E3;
  text-decoration: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.accountIcon {
  width: 32px;
  height: 32px;
}

.register {
  background: transparent;
  justify-self: end;
  font-size: 16px;
  border: transparent;
  cursor: pointer;
  color: #E3E3E3;
}

@media (max-width: 768px) {
  .TopBar {
    height: 32px;
    padding: 0 12px;
  }

  .menu {
    font-size: 22px;
  }

  .logo {
    font-size: 20px;
    letter-spacing: 1px;
  }

  .register {
    font-size: 12px;
  }

  .accountIcon {
    margin-top: 5px;
    width: 28px;
    height: 28px;
  }
}
