.footer {
  background-color: #001824;
  color: white;
  height: 412px;
  margin: 0 auto;
  padding: 60px 0px 40px;
}

.footer-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
  box-sizing: border-box;
}

.footer-columns {
  display: flex;
  gap: 80px;
}

.footer h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer p {
  font-size: 14px;
  margin: 4px 0;
  color: #d6d6d6;
  cursor: pointer;
}

.footer p:hover {
  color: white;
}

.footer-logo {
  text-align: center;
  margin-top: 50px;
  font-size: 28px;
  letter-spacing: 3px;
}
