:root {
  --deep-space-blue: #003049;
  --deep-space-blue-dark: #001824;
  --steel-blue: #669BBC;
  --molten-lava: #780000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  color: #E3E3E3;
}

body:has(dialog[open]) {
  overflow: hidden;
}
