
body {
  background-color: #003049;
  margin: 0;
}

.hero-image-home::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}

.hero-image-home main {
  position: relative; 
  z-index: 2;
}

.hero-image-home {
  position: relative;
  height: 670px;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
}

.page-container {
  padding: 40px 20px;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

.highlight {
  color: #669BBC;
}


h1 {
  font-size: 64px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  color: #E3E3E3;
  text-align: center;
  padding-bottom: 100px;
}

h2 {
  font-size: 40px;
  font-family: 'Inter', sans-serif;
  color: #E3E3E3;
}

.search-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.search-bar {
  flex: 1; /* 1 1 0 */
  min-width: 800px;
  max-width: 800px;
  min-height: 70px;
  max-height: 70px;
  box-sizing: border-box;

  font-size: 32px;
  padding: 0 18px;

  border-radius: 12px 0 0 12px;
  border: 2px solid #FFFFFF4D; /* border width, style, color */
  background: transparent;
  color: white;
  outline: none;
}

.search-bar::placeholder {
  color: #FFFFFF4D;
}

.search-button {
  height: 70px;
  padding: 0 18px;
  border-radius: 0 12px 12px 0; /* top left, top right, bottom left, bottom right */
  border: 1px solid #FFFFFF4D;
  border-left: none;
  background: #FFFFFF4D;
  color: white;
  cursor: pointer;
}

.categories {
  display: flex;
  flex-direction: row;     
  gap: 20px;
  border-radius: 24px;

  overflow-x: scroll;        
  overflow-y: visible;
  scrollbar-width: none;
  -ms-overflow-style: none;
    &::-webkit-scrollbar {
    display: none;
  }
  list-style: none;
  padding: 40px 10px;
  margin: 0;

  white-space: nowrap;      
}

.category-card {
  min-width: 300px;
  height: 200px;
  border-radius: 24px;
  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;

  background-size: cover;
  background-position: center;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.category-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0,0,0,0.3);
  border-radius: 24px;
}


.festivals { background-image: url("src/assets/categoriesdummyimage.jpg"); }
.concerts { background-image: url("src/assets/categoriesdummyimage.jpg"); }
.sport { background-image: url("src/assets/categoriesdummyimage.jpg"); }
.museums { background-image: url("/src/assets/categoriesdummyimage.jpg"); }
.theaters { background-image: url("src/assets/categoriesdummyimage.jpg"); }
